<!-- <p> this is a test </p> -->
<h2 id="dashTitle"></h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gauge.js/1.3.7/gauge.min.js" integrity="sha512-J0d1VfdfTSDoDPEsahCtf2nC+groXdWkuQFyJjS+s3CpKj63X9Hf3pMEJtjIJt/ODh0QwTRx2/OioL+9fMoqSA==" crossorigin="anonymous"></script>

<h2>01</h2>
<canvas width="300" height="150" id="gaugeTemp1"></canvas><span id="gaugeTempValue1"></span>
<canvas width="300" height="150" id="gaugeRh1"></canvas><span id="gaugeRhValue1"></span>

<h2>02</h2>
<canvas width="300" height="150" id="gaugeTemp2"></canvas><span id="gaugeTempValue2"></span>
<canvas width="300" height="150" id="gaugeRh2"></canvas><span id="gaugeRhValue2"></span>

<h2>03</h2>
<canvas width="300" height="150" id="gaugeTemp3"></canvas><span id="gaugeTempValue3"></span>
<canvas width="300" height="150" id="gaugeRh3"></canvas><span id="gaugeRhValue3"></span>

<h2>04</h2>
<canvas width="300" height="150" id="gaugeTemp4"></canvas><span id="gaugeTempValue4"></span>
<canvas width="300" height="150" id="gaugeRh4"></canvas><span id="gaugeRhValue4"></span>

<h2>05</h2>
<canvas width="300" height="150" id="gaugeTemp5"></canvas><span id="gaugeTempValue5"></span>
<canvas width="300" height="150" id="gaugeRh5"></canvas><span id="gaugeRhValue5"></span>

<h2>06</h2>
<canvas width="300" height="150" id="gaugeTemp6"></canvas><span id="gaugeTempValue6"></span>
<canvas width="300" height="150" id="gaugeRh6"></canvas><span id="gaugeRhValue6"></span>

<h2>07</h2>
<canvas width="300" height="150" id="gaugeTemp7"></canvas><span id="gaugeTempValue7"></span>
<canvas width="300" height="150" id="gaugeRh7"></canvas><span id="gaugeRhValue7"></span>

<h2>08</h2>
<canvas width="300" height="150" id="gaugeTemp8"></canvas><span id="gaugeTempValue8"></span>
<canvas width="300" height="150" id="gaugeRh8"></canvas><span id="gaugeRhValue8"></span>

<h2>09</h2>
<canvas width="300" height="150" id="gaugeTemp9"></canvas><span id="gaugeTempValue9"></span>
<canvas width="300" height="150" id="gaugeRh9"></canvas><span id="gaugeRhValue9"></span>

<h2>10</h2>
<canvas width="300" height="150" id="gaugeTemp10"></canvas><span id="gaugeTempValue10"></span>
<canvas width="300" height="150" id="gaugeRh10"></canvas><span id="gaugeRhValue10"></span>

<div id="dashClimateFIDAIICA"></div>
<script src="../js/dashboardClimateFIDAIICA.js"></script>
