<h2>{{title}} interface to access multiple sensors from one gateway</h2><span id="networkWait"></span>

<form>

	<label for="selectInst">Institution:</label>
	<select name="selectBox" id="selectInst">
	<option value="">---</option>
	</select>

	<label for="selectGate">Gateway:</label>
	<select name="selectBox" id="selectGate">
	<option value="">---</option>
	</select>

	<label for="selectUnit">Variable:</label>
	<select name="selectBox" id="selectUnit">
	<option value="">---</option>
	</select>
</form>

<div id="myChart" style="width:90%;height:70%;"></div>

<script src="../js/defaultVendors~filterSelectBoxAll~filterSelectBoxInstGateCap~filterSelectBoxMult~visNetworkClimate.js"></script>
<script src="../js/filterSelectBoxMult.js"></script>
