<h2>{{title}} interface to compare sensors between gateways</h2>

<form>
	<label for="selectVar">Sensor description:</label>
	<select name="selectBox" id="selectVar">
	<option value="">---</option>
	</select>
</form>

<div id="myChart" style="width:90%;height:70%;"></div>

<script src="../js/defaultVendors~filterSelectBoxAll~filterSelectBoxInstGateCap~filterSelectBoxMult~visNetworkClimate.js"></script>
<script src="../js/filterSelectBoxAll.js"></script>
