@import "../../node_modules/vis-network/styles/vis-network.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../../node_modules/aos/dist/aos.css";

/* LOADING DATA --------------------------------------------------------------*/
#networkWait {
	font-weight: bold;
	color: red;
}

/* DASHBOARD -----------------------------------------------------------------*/
#dash_instituteName {
	font-weight: bold;
}

#dash_lastInfo{
	font-weight: bold;
}

/* PUBLICATIONS LIST ---------------------------------------------------------*/
#bib_publititle {
	font-style: italic;
	font-weight: bold;
}

#publiGroup {
	line-height: 1.35;
	margin-left: 2em;
	text-indent:-2em;
}

#bib_btn {
	border: none;
	padding: 0;
}

#bib_abstract {
	background-color: lightgray;
	text-indent:0em;
}

/* IFRAME -------------------------------------------------------------------*/
.iframe {
	position: relative;
	overflow: hidden;
	width: 90%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* HOMEPAGE -------------------------------------------------------------------*/
.home-animation__container {
	margin: 0px auto;
	padding-top: 0px;
	background: white;
	text-align: center;
	color: white;
	font-size: 3em;
}

.home-animation__image {
	max-width: 80%;
	height: auto;
}

.swiper-wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.a,
.b {
	display: flex;
	align-items: center;
	justify-content: center;
	color: aliceblue;
	font-size: 4rem;
}
.swiper-slide {
	width: 100%;
	height: 100%;
}
.swiper-container {
	height: 100%;
}


/* GENERAL ------------------------------------------------------------------*/
body {
	padding: 1px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}
a.file{
	color: darkblue;
}
select{
	color: grey;
}
select:hover{
	color: black;
}

form{
	padding: 5px;
}

.listFiles{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

/* HEADER -------------------------------------------------------------------*/
.header__title {
	background-color: #F1F1F1;
	/*background: transparent url("/static/img/photo_wallpaperHeader.jpg");*/
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}

/* NAVIGATION BAR ------------------------------------------------------------*/
.nav__container {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header__nav .nav__container {
	overflow: hidden;
	background-color: #333;
	font-weight: bold;
}

.nav__item__link {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav__item__link:hover {
	background-color: #653356;
}

.nav__container__dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.nav__container .nav__item:hover > .nav__container__dropdown {
	display: inherit;
}

.nav__container__dropdown .nav__item__link {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: #f9f9f9;
}

.nav__container__dropdown .nav__item__link:hover {
	background-color: #f1f1f1;
}

/* FOOTER -------------------------------------------------------------------*/
.footer {
	padding: 5px;
	background-color: #ddd;
	color: black;
	text-align: center;
}

.footer a {
	color: gray;
}
