<p id="top">Contents:
	<dl><a href="#group">Selection of publications by the project members</a></dl>
</a></p>

<h2 id="group">Selection of publications by the project members <a href="#top">[TOP]</a></h2>

<!-- server bibbase.org is down

<script src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fgroups%2F2520377%2Fitems%3Fkey%3DaxXEhVlBUnltrZujRGzSf9Gf%26format%3Dbibtex%26limit%3D100&jsonp=1&folding=1"></script>
-->

<!--
https://api.zotero.org/groups/2520377/items?key=axXEhVlBUnltrZujRGzSf9Gf&format=bibtex
https://api.zotero.org/groups/2520377/items?key=axXEhVlBUnltrZujRGzSf9Gf
-->


<script src="../js/comPublicationsTeam.js"></script>

<div id="publiGroup"></div>
