<h2>The devRate package for R</h2>

<p>"<i>R is a free software environment for statistical computing and graphics. It compiles and runs on a wide variety of UNIX platforms, Windows and MacOS.</i>" (<a href="https://www.r-project.org/">https://www.r-project.org/</a>)</p>

<p>R comes with a lot of additional packages, such as <a href="https://cran.r-project.org/package=devRate">devRate</a>. Packages include long form documentation named vignettes. This is the best place to start learning how to use a package.</p>

<div class="iframe">
	<iframe class="responsive-iframe" src="https://cran.r-project.org/package=devRate"></iframe>
</div>
