<div class="home-animation">
	<div class="home-animation__container" data-aos="fade-up">
		<img
			srcset="/img/pi2p_intro00_150dpi.jpg 2000w,
							/img/pi2p_intro00_100dpi.jpg 1333w,
							/img/pi2p_intro00_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro00_150dpi.jpg"
			alt="{{longTitle}}"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
					/img/pi2p_intro_transLR_100dpi.jpg 1333w,
					/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro01_150dpi.jpg 2000w,
					/img/pi2p_intro01_100dpi.jpg 1333w,
					/img/pi2p_intro01_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro01_150dpi.jpg"
			alt="Insect pests cause significant damages to crops"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
					/img/pi2p_intro_transRL_100dpi.jpg 1333w,
					/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro02_150dpi.jpg 2000w,
					/img/pi2p_intro02_100dpi.jpg 1333w,
					/img/pi2p_intro02_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro02_150dpi.jpg"
			alt="Predicting phenology requires insect pest performances curves"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
					/img/pi2p_intro_transLR_100dpi.jpg 1333w,
					/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro03_150dpi.jpg 2000w,
					/img/pi2p_intro03_100dpi.jpg 1333w,
					/img/pi2p_intro03_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro03_150dpi.jpg"
			alt="The PI2P project gathers literature"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
					/img/pi2p_intro_transRL_100dpi.jpg 1333w,
					/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro04_150dpi.jpg 2000w,
					/img/pi2p_intro04_100dpi.jpg 1333w,
					/img/pi2p_intro04_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro04_150dpi.jpg"
			alt="The PI2P project proposes new tools for modeling insects phenology"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
					/img/pi2p_intro_transLR_100dpi.jpg 1333w,
					/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro05_150dpi.jpg 2000w,
					/img/pi2p_intro05_100dpi.jpg 1333w,
					/img/pi2p_intro05_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro05_150dpi.jpg"
			alt="The PI2P project monitors climate and pests in the intertropical zone"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
					/img/pi2p_intro_transRL_100dpi.jpg 1333w,
					/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			class="home-animation__image">
	</div>

	<div class="home-animation__container" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro06_150dpi.jpg 2000w,
					/img/pi2p_intro06_100dpi.jpg 1333w,
					/img/pi2p_intro06_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro06_150dpi.jpg"
			alt="Join us and contribute!"
			class="home-animation__image">
	</div>
</div>

<script src="../js/defaultVendors~homePageAnimation.js"></script>
<script src="../js/homePageAnimation.js"></script>
