<!-- <h2>{{longTitle}}</h2> -->

<script src="https://unpkg.com/tiny-swiper@^1.0.0"></script>
<!-- https://github.com/joe223/tiny-swiper -->
<!-- Slider main container -->
<div class="swiper-container" id="swiper1">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="a swiper-slide"><img src="/img/pi2p_intro00_48dpi.png" alt='test...'></div>
    <div class="a swiper-slide"><img src="/img/pi2p_intro01_48dpi.png" alt='test...'></div>
    <div class="b swiper-slide">3</div>
    <div class="b swiper-slide">4</div>
    <div class="b swiper-slide">5</div>
  </div>
</div>
<script>
var mySwiper = new Swiper('#swiper1', {
  mousewheel: true
});
</script>
