<!-- <h2>{{longTitle}}</h2> -->

<div class="aospi2p">
	<div class="animsition-link" data-aos="fade-up">
		<img
			srcset="/img/pi2p_intro00_150dpi.jpg 2000w,
							/img/pi2p_intro00_100dpi.jpg 1333w,
							/img/pi2p_intro00_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro00_150dpi.jpg"
			alt='{{longTitle}}'>
	</div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
							/img/pi2p_intro_transLR_100dpi.jpg 1333w,
							/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro01_150dpi.jpg 2000w,
							/img/pi2p_intro01_100dpi.jpg 1333w,
							/img/pi2p_intro01_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro01_150dpi.jpg"
			alt='Insect pests cause significant damages to crops'>
	</div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
							/img/pi2p_intro_transRL_100dpi.jpg 1333w,
							/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro02_150dpi.jpg 2000w,
							/img/pi2p_intro02_100dpi.jpg 1333w,
							/img/pi2p_intro02_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro02_150dpi.jpg"
			alt='Predicting phenology requires insect pest performances curves'>
	</div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
							/img/pi2p_intro_transLR_100dpi.jpg 1333w,
							/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro03_150dpi.jpg 2000w,
							/img/pi2p_intro03_100dpi.jpg 1333w,
							/img/pi2p_intro03_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro03_150dpi.jpg"
			alt='The PI2P project gathers literature'>
	</div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
							/img/pi2p_intro_transRL_100dpi.jpg 1333w,
							/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro04_150dpi.jpg 2000w,
							/img/pi2p_intro04_100dpi.jpg 1333w,
							/img/pi2p_intro04_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro04_150dpi.jpg"
			alt='The PI2P project proposes new tools for modeling insects phenology'></div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transLR.jpg 1987w,
							/img/pi2p_intro_transLR_100dpi.jpg 1333w,
							/img/pi2p_intro_transLR_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transLR.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-left">
		<img
			srcset="/img/pi2p_intro05_150dpi.jpg 2000w,
							/img/pi2p_intro05_100dpi.jpg 1333w,
							/img/pi2p_intro05_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro05_150dpi.jpg"
			alt='The PI2P project monitors climate and pests in the intertropical zone'></div>
	<div class="animsition-link" data-aos="fade">
		<img
			srcset="/img/pi2p_intro_transRL.jpg 1987w,
							/img/pi2p_intro_transRL_100dpi.jpg 1333w,
							/img/pi2p_intro_transRL_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro_transRL.jpg"
			alt='trans'>
	</div>
	<div class="animsition-link" data-aos="fade-right">
		<img
			srcset="/img/pi2p_intro06_150dpi.jpg 2000w,
							/img/pi2p_intro06_100dpi.jpg 1333w,
							/img/pi2p_intro06_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/pi2p_intro06_150dpi.jpg"
			alt='Join us and contribute'>
	</div>
</div>

<script src="../js/homePageAnimation.js"></script>
