<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<header>
			<h1 class="header">PI2P project</h1>
        <strong><nav>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <script>
	          function myFunction() {
	            const x = document.getElementById("myTopnav");
	            if (x.className === "topnav") {
	             x.className += " responsive";
	            } else {
	             x.className = "topnav";
	            }
	           }
          </script>

					<div class="topnav" id="myTopnav">
					<ul>
					  <li><a href="/">Home</a></li>
					  <li class="dropdown">
					    <a href="javascript:void(0)" class="dropbtn">Climate</a>
					    <div class="dropdown-content">
								<a href="/vizs1">Simple chart</a>
					      <a href="/vizm1">Multiple chart</a>
					      <a href="">...</a>
					    </div>
					  </li>
						<li class="dropdown">
					    <a href="javascript:void(0)" class="dropbtn">Insects</a>
					    <div class="dropdown-content">
								<a href="/">...</a>
					      <a href="/">...</a>
					      <a href="/">...</a>
					    </div>
					  </li>
						<li><a href="/">About</a></li>
					</ul>
					</div>
          <script>
            // Get the container element
            const btnContainer = document.getElementById("myTopnav");
            // Get all buttons with class="btn" inside the container
            const btns = btnContainer.getElementsByClassName("topnav");
            // Loop through the buttons and add the active class to the current/clicked button
            for (let i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function() {
                const current = document.getElementsByClassName("active");
                if (current.length > 0) {
                  current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
              });
            }
          </script>
        </nav></strong>
		</header>

		{{{body}}}

		<div class="footer">
			<p>
				This projet is funded by ANR grant number ANR-19-CE32-0001.<br> <a href="/ln">Legal notice</a>
			</p>
		</div>
	</body>
</html>
