<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/style.css" />
		<script src="../js/defaultVendors~comPublicationsTeam~filterSelectBoxAll~filterSelectBoxInstGateCap~filterSelectBoxMult~52e7ee57.js"></script>
	</head>

	<body>
		<header class="header">
			<h1 class="header__title">PI2P project</h1>

			<nav class="header__nav nav">
				<ul class="nav__container">
					<li class="nav__item">
						<a class="nav__item__link" href="/">Home</a>
					</li>

					<li class="[ nav__item nav__item--dropdown ]">
						<a href="#" class="nav__item__link">Climate</a>

						<ul class="nav__container nav__container__dropdown">
							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/network">Chart: network topology</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/single">Chart: single sensor</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/multiple">Chart: multiple sensors in one site</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/sites">Chart: comparison between sites</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/reports/download">PDF: past month data reports</a>
							</li>
						</ul>
					</li>

					<li class="[ nav__item nav__item--dropdown ]">
						<a href="#" class="nav__item__link">Insects</a>

						<ul class="nav__container nav__container__dropdown">
							<!--<li class="nav__item">
								<a class="nav__item__link" href="/graphs/network">Species</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/single">Chart: single site</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/multiple">Chart: multiple sites</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/graphs/download">PDF: past month data reports</a>
							</li>-->
						</ul>
					</li>

					<li class="[ nav__item nav__item--dropdown ]">
						<a href="#" class="nav__item__link">About</a>

						<ul class="nav__container nav__container__dropdown">
							<li class="nav__item">
								<a class="nav__item__link" href="/about/publications">Publications: selection</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/about/bibliography">Publications: bibliography</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/documentation/api">Documentation: server API</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="/about/devrate">Data analysis: development rate</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="https://frareb.github.io/pi2p_docu/">Contribute: joining the network</a>
							</li>

							<li class="nav__item">
								<a class="nav__item__link" href="mailto:francois [point] rebaudo [arobase] ird [point] fr">Contact</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			{{{body}}}
		</main>

		<footer class="footer">
			<p>
				This projet is funded by ANR grant number ANR-19-CE32-0001.<br />
				<a href="/legal">Legal notice</a> - <a href="mailto:francois [point] rebaudo [arobase] ird [point] fr">Contact</a>
			</p>
		</footer>
	</body>
</html>
