<h1> Mentions Légales / Legal notice </h1>

<h2>Editeur</h2>
<p>Unité Mixte de Recherche Evolution, Génome, Comportement, Ecologie (UMR EGCE)<br/>
1 av. de la Terrasse, bât 13, BP01<br/>
91198 Gif-sur-Yvette</p>
<p>Directeur de la publication : Laure Kaiser, directrice</p>
<p>Directeur éditorial et délégué à la protection des données : François Rebaudo (http://www.egce.cnrs-gif.fr/?p=1196)</p>

<h2>Hébergement</h2>
<p>Institut de recherche pour le développement (IRD)<br/>
44, boulevard de Dunkerque<br/>
CS 90009<br/>
13572 Marseille Cedex 02<br/>
France<br/>
Tel +33 (0)4 91 99 92 00<br/>

<h2>Objectif et qualité des contenus</h2>
<p>Ce site a pour objectif d’informer le grand public, les professionnels et les médias sur les activités et les données issues du projet PI2P. Nous nous efforçons de fournir une information de qualité et vérifiée, toutefois si une information semble inexacte ou contient une erreur typographique, vous pouvez le signaler à l’administrateur du site. Ce site n'utilise pas de cookies, et ne contient aucune information personnelle concernant les membres du projets ou les visiteurs.</p>

<h2>Réutilisation des contenus</h2>
<p>Sauf mention contraire, la réutilisation des contenus est soumise aux règles définies par le Plan de Gestion des Données du projet PI2P, disponible sur demande écrite (PGD ; https://anr.fr/fr/actualites-de-lanr/details/news/lanr-met-en-place-un-plan-de-gestion-des-donnees-pour-les-projets-finances-des-2019/# ).</p>

<h2>Clause de non-responsabilité</h2>
<p>La responsabilité du Laboratoire EGCE ne peut, en aucune manière, être engagée quant au contenu des informations figurant sur ce site ou aux conséquences pouvant résulter de leur utilisation ou interprétation.</p>
