<p>Sensors are connected directly to single board computers used as gateways or to microcontrolers sending data to gateways. Gatways belong to institutions, sending data to the main server. The network topology is represented below, in real time with salmon dots for inactive sensors and with green dots for active sensors. Last reads from active sensors can be seen on hover.</p>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<style type="text/css">
	#mynetwork {
		width: 90%; /* 600px; */
		height: 400px;
		border: 1px solid lightgray;
	}
</style>
<div id="mynetwork"></div>
<script type="module" src="./js/visNetworkClimate.js"></script>
<pre id="eventSpan"></pre>
